// Colors
$main-title-color: #152d72;
$text-color: #3d403d;
$text-color-light: #272f74;
$link-text-color: #0070c9;
$link-hover-color: #ff6841;
$text-color-dark: #1c1641;
$hero-title-color: #041440;
$footer-bg-color: #011240;
$text-color-orange: #f26840;
$energy-background: #7bd256;
$anchor-title-color: #112b76;
$blog-title-color: #1e2d72;
$blog-copy: #212529;

// Breakpoints
$desktop-breakpoint-min: 992px;
$tablet-breakpoint-min: 761px;
